<div class="home-container">
    <div class="home-content">
        <header class="header">
            <nav class="menu">
                <h1 class="logo">Life</h1>
                <ul class="menu-itens">
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Consulta de Exames</a></li>
                    <li><a href="#">Agendar Exames</a></li>
                    <li><a href="#">Contatos</a></li>
                </ul>
            </nav>
        </header>
        <div class="home-wrapper">
            <div class="home-content-card">
                <h3 class="home-content-card-title">Bem-vindo, Jonatas!</h3>
                <div class="home-main-card">
                    <div class="card-item card-item-one">
                        <img class="card-img" src="../../../assets/doctor-exam.svg">
                        <h3>Consultas</h3>
                        <p>4</p>
                    </div>
                    <div class="card-item card-item-two">
                        <img class="card-img" src="../../../assets/doctor-exam-done.svg">
                        <h3>Consultas feitas</h3>
                        <p>14</p>
                    </div>
                    <div class="card-item card-item-three">
                        <img class="card-img" src="../../../assets/doctor-exam-cancelled.svg">
                        <h3>Consultas canceladas</h3>
                        <p>8</p>
                    </div>
                </div>
            </div>
            <div class="available-doctors">
                <!--Aqui terá a repetição dos itens vindos da API-->
                <h3 class="available-doctors-title">Médicos disponíveis</h3>
                <div class="card-doctors">
                    <div class="card-docs card-doc-one">
                        <div class="doc-img"></div>
                        <div class="doc-info">
                            <h3 class="doc-name">Dr.John</h3>
                            <p>Cardiologista</p>
                        </div>
                    </div>
                    <div class="card-docs card-doc-two">
                        <div class="doc-img"></div>
                        <div class="doc-info">
                            <h3 class="doc-name">Dr. Doe</h3>
                            <p>Pediatra</p>
                        </div>
                    </div>
                    <div class="card-docs card-doc-three">
                        <div class="doc-img"></div>
                        <div class="doc-info">
                            <h3 class="doc-name">Dr. May</h3>
                            <p>Oncologista</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-add-exame">
                <!--Ícone do botão-->
            </div>
        </div>
    </div>
</div>