<div class="login-container">
    <div class="login-content">
        <div class="login-wrapper">
            <div class="login-form-content">
                <form class="login-form">
                    <h1 class="login-title">Life</h1>
                    <label>Usuário:</label>
                    <input class="user-input" type="text">
                    <label>Senha:</label>
                    <input class="password-input" type="password">
                    <p class="register-page">Ainda não tem conta? <a routerLink="/register">Clique aqui</a></p>
                    <button routerLink="/home" class="btn-login">Fazer login</button>
                </form>
            </div>
            <div class="login-img-content">
                <img class="login-img" src="../../../assets/login-img.svg">
            </div>
        </div>
    </div>
    <footer class="rodape">
        <h5>Designed by <a target="_blank" href="https://github.com/jonatas-almeida">Jonatas Almeida</a></h5>
    </footer>
</div>
