<div class="register-container">
    <div class="register-content">
        <div class="register-wrapper">
            <div class="register-form-container">
                <h1 class="register-title">Cadastrar</h1>
                <form class="register-form">
                    <label>Nome:</label>
                    <input type="text" class="user-name-input">
                    <label>Usuário:</label>
                    <input type="text" class="user-input">
                    <label>Senha:</label>
                    <input type="password" class="password-input">
                    <label>Confirmar senha:</label>
                    <input type="password" class="confirm-password-input">
                    <button class="btn-register">Cadastrar</button>
                </form>
            </div>
            <div class="register-img-container">
                <img class="register-img" src="../../../assets/register.svg">
            </div>
        </div>
    </div>
</div>