<div class="consulta-details-container">
    <div class="consulta-details-content">
        <div class="consulta-details-wrapper">
            <div class="consulta-details-card">
                <h1>Detalhes da consulta</h1>
                <hr class="divider">
                <h3>Nome: {{consulta.nome_consulta}}</h3>
                <p>Médico: {{consulta.medico}}</p>
                <p>Data da consulta: {{consulta.data}}</p>
                <p>Status: <span *ngIf="consulta.status == true">Em andamento</span><span *ngIf="consulta.cancelled == true">Cancelada</span></p>
                <button (click)="deleteConsulta()"class="btn-deletar">Excluir consulta</button>
            </div>
        </div>
    </div>
</div>
